<nav class="navbar navbar-expand-lg bg-body-tertiary rounded mb-2" th:fragment="nav">
    <div class="container">
        <a class="navbar-brand" href="/">Proxbook</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/library/prox-library">내 주변 도서관 찾기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/book/search">책 검색하기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/library/search">도서관 검색하기</a>
                </li>
            </ul>
            <form role="search" action="/book/search" method="get">
                <div class="input-group">
                    <input class="form-control" id="title" name="title" placeholder="책 검색하기" aria-label="책 검색하기">
                    <button type="submit" class="btn btn-outline-secondary">검색</button>
                </div>
            </form>
        </div>
    </div>
</nav>