<div th:fragment="shorten(url)"
     class="w-100 my-3 p-2 alert alert-secondary alert-dismissible fade show "
>
    <div class="d-flex justify-content-between align-items-center">
        <a
                id="shorten-url"
                th:href="@{/s/{shorten-url}(shorten-url=${url})}"
                th:text="@{/s/{shorten-url}(shorten-url=${url})}"
                class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
        ></a>
        <button type="button" class="btn btn-secondary" onclick="copyUrl()">복사하기</button>
    </div>
</div>