<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN : book error log</title>
    <th:block th:replace="fragments/static/static-import.html::css"></th:block>
</head>
<body>
<nav th:replace="fragments/nav.html::nav"></nav>
<div class="container">
    <h1>책 정정 요청</h1>
    <div th:replace="fragments/book.html :: book(${log.book})"></div>
    <hr>
    <div>
        <p>다음과 같은 사유로 에러가 </p>
        <p th:text="${log.reason}"> 정정요청 사유 </p>
    </div>
    <div>
        <button id="delete-book"
                th:data-action="@{/book-error/{log-id}(log-id=${log.id})}"
        >
            책 정보 삭제하기
        </button>
    </div>
    <div id="result">
        <p id="result-text"></p>
    </div>
</div>
<th:block th:replace="fragments/static/static-import.html::min-js"></th:block>
<script th:src="@{/js/admin/bookError.js}"></script>
</body>
</html>