/* a 태그 스타일 초기화 */
a {
    text-decoration: none;
    color: inherit;
}

/* li 태그 스타일 초기화 */
li {
    list-style: none;
}

#library-list{
    overflow-y: auto;
}

@media (max-height: 768px) {
    #libraries{
        height: 540px;
    }
}

@media (min-height: 768px) {
    #libraries{
        height: 720px;
    }
}


@media (min-height: 992px) {
    #libraries{
        height: 960px;
    }
}

@media (min-height: 1200px) {
    #libraries{
        height: 1140px;
    }
}


