<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>book info</title>
    <th:block th:replace="fragments/static/static-import.html::css"></th:block>
</head>
<body>
<!-- nav -->
<nav th:replace="fragments/nav.html::nav"></nav>

<div class="container">
    <!-- 책에 대한 정보 + 이 책을 소장하는 도서관 찾기 -->
    <div th:replace="fragments/book.html :: book(${book})"></div>
    <div id="report" class="w-100">
        <p
                data-bs-toggle="collapse" data-bs-target="#report-error"
                class="text-end"
        >
            오류 신고하기
        </p>
        <div
                id="report-error"
                class="collapse card p-3"
        >
            <form th:action="@{/book/{bookId}/report(bookId=${book.isbn})}" method="post">
                <h3>오류 보고하기</h3>
                <div class="input-group mb-2">
                    <label for="reason" class="form-control">해당 데이터에 어떤 오류가 있나요?</label>
                    <button type="submit" class="btn btn-outline-secondary">제출하기</button>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" id="reason" name="reason" style="height: 100px"></textarea>
                    <label for="reason">정보 정정 요청</label>
                </div>
            </form>
        </div>
    </div>

    <div class="mb-3">
        <details >
            <summary>
                이 책을 소장한 도서관 목록
            </summary>
            <ul th:if="libraries">
                <li th:each="library: ${libraries}">
                    <a th:href="@{/library/{libraryId}(libraryId=${library.libraryCode})}">
                        <p th:text="${library.name}"></p>
                    </a>
                </li>
            </ul>
        </details>
    </div>

    <div>
        <button id="prox-book" class="btn btn-light w-100 border-secondary-subtle text-light-emphasis fw-semibold">책을 가지고 있는 근처 도서관 검색하기</button>
    </div>

    <div>
        <!-- 신고하기 -->
        <form action="">

        </form>
    </div>

    <div id="result">
        <!-- 여기에 KakaoMap과 도서관이 들어옴 -->
    </div>
</div>

<th:block th:replace="fragments/static/static-import.html::js"></th:block>
<script th:src="@{/js/proxBook.js}"></script>
</body>
</html>