<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>책검색서비스</title>
    <th:block th:replace="fragments/static/static-import.html::css"></th:block>
</head>
<body>
<!-- nav -->
<nav th:replace="fragments/nav.html::nav"></nav>

<div class="container">
    <!-- 책 검색 페이지 -->
    <form action="/library/search" method="get">
        <div class="input-group mb-3">
            <span class="input-group-text">도서관 검색</span>
            <div class="form-floating">
                <input type="text" class="form-control" id="title" name="title" placeholder="도서관 이름 검색">
                <label for="title">도서관 이름 검색</label>
            </div>
            <button type="submit" class="btn btn-outline-secondary">검색</button>
        </div>
    </form>
    <th:block th:if="${searchedLibraries}">
        <div th:replace="fragments/libraries-with-map.html::searchedLibraryWithMap(${searchedLibraries})"></div>
    </th:block>
</div>

<th:block th:replace="fragments/static/static-import.html::js"></th:block>
<script th:src="@{/js/userProxLibrary.js}"></script>

</body>
</html>