<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        도서관 소장도서
    </title>
    <th:block th:replace="fragments/static/static-import.html::css"></th:block>
</head>
<body>
<!-- nav -->
<nav th:replace="fragments/nav.html::nav"></nav>

<div class="container">
    <div id="library">
        <p th:text="${libraryBooks.library.name}">
            {도서관이름}
        </p>
        <a th:href="${libraryBooks.library.webpage}">
            홈페이지로 가기
        </a>
    </div>
    <div id="books">
        <form th:action="@{/library/{libraryId}(libraryId=${libraryBooks.library.libraryCode})}" method="get">
            <div class="input-group mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="title" name="title" th:value="${title} ? ${title} : _" placeholder="책 제목 검색">
                    <label for="title">소장 도서 검색</label>
                </div>
                <button type="submit" class="btn btn-outline-secondary">검색</button>
            </div>
            <div class="border-bottom mb-3">
                <span>더 자세한 검색은 책 검색을 입력하십시오. 책검색을 사용하시면 보다 좋은 검색 결과를 얻으실 수 있습니다.</span>
            </div>
        </form>
        <div>
            <p>
                <span th:text="${libraryBooks.library.name}"></span>의 소장도서들입니다.
            </p>
        </div>
        <div th:each="book : ${libraryBooks.books}" class="border-top mt-3">
            <a th:href="@{/book/{bookId}(bookId=${book.isbn})}">
                <span th:text="${book.title}">{책제목}</span>
            </a>
            <p th:text="${book.isbn}">{isbn}</p>
        </div>
        <div class="border-top mt-3">
            <a th:href="@{/library/{libraryId}(libraryId=${libraryBooks.library.libraryCode}, page=0, title=${title})}">첫페이지로</a>
            <a th:href="@{/library/{libraryId}(libraryId=${libraryBooks.library.libraryCode}, page=${libraryBooks.nowPage}-1, title=${title})}">이전페이지로</a>
            <a th:href="@{/library/{libraryId}(libraryId=${libraryBooks.library.libraryCode}, page=${libraryBooks.nowPage}+1, title=${title})}">다음페이지로</a>
            <a th:href="@{/library/{libraryId}(libraryId=${libraryBooks.library.libraryCode}, page=${libraryBooks.totalPage}-1, title=${title})}">마지막페이지로</a>
        </div>
    </div>
</div>
<th:block th:replace="fragments/static/static-import.html::js"></th:block>
</body>
</html>