<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>내 근처의 도서관</title>
    <th:block th:replace="fragments/static/static-import.html::css"></th:block>
</head>
<body>
<!-- nav -->
<nav th:replace="fragments/nav.html::nav"></nav>

<!-- 내 근처의 도서관 정보 -->
<div class="container">
    <h1>내 근처의 도서관 검색하기</h1>
    <div id="result"></div>
</div>

<!-- script area -->
<th:block th:replace="fragments/static/static-import.html::js"></th:block>
<script th:src="@{/js/proxLibrary.js}"></script>
</body>
</html>