<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>내 근처의 도서관</title>
</head>
<body>
<h1>내 근처의 도서관 검색하기</h1>
<ul id="result">

</ul>
<hr>
<div id="map" style="width:500px;height:400px;">

</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e48295ca4d3ba331a2260d45fe05f230&autoload=false"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script th:src="@{/js/proxlibraryQuery.js}"></script>
</body>
</html>