<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserProxLibrary</title>
    <th:block th:replace="fragments/static/static-import.html::css"></th:block>
</head>
<body>
<!-- nav -->
<nav th:replace="fragments/nav.html::nav"></nav>

<div class="container">
    <!-- shorten service -->
    <div th:replace="fragments/shorten-url.html::shorten(${userProxLibrary.url})"></div>
    <div th:replace="${userProxLibrary.book} ? ~{fragments/book.html::book(${userProxLibrary.book})} : _"></div>
    <div th:replace="fragments/libraries-with-map.html::proxLibraryWithMap(${userProxLibrary})"></div>
</div>

<th:block th:replace="fragments/static/static-import.html::js"></th:block>
<script th:src="@{/js/userProxLibrary.js}"></script>
</body>
</html>